
.heading{
    text-align: center;
    color:#5f5f5f;
    font-family:'Times New Roman', Times, serif;
}

/* image defult opacity */
.list-item img{
    opacity: 0.6; 
    cursor: pointer; 
  }

 /* image hover opacity */
.list-item img:hover {
opacity: 1;
}

/* ? */
.wrapper{
    width:100%;
}


/* image centre */
.wrapper .container{
    max-width:1000px;
        margin:0px auto;
        padding:80px 0px;
    }


.wrapper .content .heading{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

/* ? */
.wrapper .content .sub{
    margin:0px 0px 40px 0px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

/* Align all images (flex)  */
@media (min-width: 992px) {
    .wrapper .content .list {
        display:flex;
        align-items: center;
        justify-content: center;
    }
}

/* font aligned to centre */
.wrapper .content .list-item {
    margin:50px 0px;
    padding:0px 50px;
    text-align:center;
}

@media (min-width: 992px) {
    .wrapper .content .list-item {
        margin:0px;
        width:calc(100% / 3);
    }
}

/* display in circles  */
.wrapper .content .list-item .photo{
    display:block;
    width:100%;
    max-width:300px;
    margin:0px auto 20px auto;
    border-radius:100%;
}


/* font */
.text{
    line-height:0.8rem;
    font-size: 15pt;
    color:#666666;
    font-family:'Times New Roman', Times, serif;
}

