<!-- when you render html you call it template = jinja 
    thi stemplate language allows python inside html documents without Javascript -->

    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    
    <!-- - - - - - - - Styyling Link - - - - - - -->
    
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
        />
        <!-- Link to CDN = delivery network, it allows load without downloading   -->
        <!-- All links and scripts are linked to bootstrap making it possible to use nice formats -->
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous"
        />
        <!-- make it look a lot nicer = CSS -->
    

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/aboutme.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/photogallery.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/food.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/home.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/traveling.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/drawing.css') }}">


    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    
    
    
        <title>{% block title %}Home{% endblock %}</title>
            <!-- define a block in a base template that can be overwritten in a child template -->
      </head>
      <body>
    
    
    <!-- - - - - - - - Creating the navbar - - - - - - -->
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {% if current_user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="noting" href="/noting">Notes</a>
          <a class="nav-item nav-link" id="aboutme" href="/aboutme">About Me</a>
          <a class="nav-item nav-link" id="photogallery" href="/photogallery">Photo Gallery</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>

          {% else %}
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </nav>
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    
    
    <!-- - - - - - - - Show flash messages!- - - - - - -->
    
    <!-- As this is included in the 'base template', it will work on any other page, flash messages will alway show up on any page -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Function that is built into Flask - This defines the variable 'message' 
        It will get all the messages that are 'flash'ed and display 'with_categories' -->
        {% if messages %}
          {% for category, message in messages %}
          {% if category == 'error' %}
            <!-- If the category of the message is an error, then show the below -->
            
        <!-- - - - - - - Display Error massage box - - - - - - - - -->
    
            <div class="alert alert-danger alert-dismissable fade show" role="alert">
              <!-- Will fade in the alert, allow to dismiss the alert and be shown by default -->
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span> 
              </button>
            </div>
    
        <!-- - - - - - - Otherwise Display Success massage box - - - - - - - - -->
          {% else %}
            <div class="alert alert-success alert-dismissable fade show" role="alert">
              <!-- Will fade in the alert, allow to dismiss the alert and be shown by default -->
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span> 
              </button>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
        
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    
          <div class="container"> 
            {% block content %}
            <!-- anything put in between will show up on the screen -->
            {% endblock %} 
            
          </div>
        
          <!-- load Javascript related to bootstrap (CSS framework)  
            Bootstap includes fancy animations and button press that include JavaScript-->
        <script
          src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"
        ></script>
    
        
        <script
          type="text/javascript"
          src="{{ url_for('static', filename='index.js') }}"
          ></script>
            <!-- Images, CSS, JavaScript, things that do not change should go to the "static folder"
            {{variable}} means it is a python expression-->
      </body>
    </html>
    