{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/drawing.css') }}">
{% endblock %}

{% block content %} 
<br>
<br>

<h2 class="heading">Drawings</h2>
<div class="table">
    <div class="e">
        <img src="{{ e9 }}" alt="img" style="width:100%">
    </div>
    <div class="e">
        <img src="{{ e10 }}" alt="img" style="width:100%">
    </div>
    <div class="e">
        <img src="{{ e11 }}" alt="img" style="width:100%">
    </div>
    <div class="e">
        <img src="{{ e1 }}" alt="img" style="width:100%">
    </div>
    <div class="e">
        <img src="{{ e2 }}" alt="img" style="width:100%">
    </div>
    <div class="e">
        <img src="{{ e3 }}" alt="img" style="width:100%">
    </div>
    <div class="e">
        <img src="{{ e4 }}" alt="img" style="width:100%">
    </div>
    <div class="e">
        <img src="{{ e5 }}" alt="img" style="width:100%">
    </div>
    <div class="e">
        <img src="{{ e6 }}" alt="img" style="width:100%">
    </div>
    <div class="e">
        <img src="{{ e7 }}" alt="img" style="width:100%">
    </div>
    <div class="e">
        <img src="{{ e8 }}" alt="img" style="width:100%">
    </div>

</div>
{% endblock %}